/*Dettagli pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*informazioni generali del body*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/*SEZIONE HEADER*/

header {
    margin: auto;
    background-color: #0d325a;
}

.container {
    width: 1400px;
    margin: auto;
}

 main{
     position: relative;
 }

/*menu in alto*/

.menualto {
    margin: auto;
    padding: 20px 70px;
    margin-bottom:80px;
}

#iconahome {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
}

#menu {
    float: left;
    padding-top: 21px;
    padding-left: 50px;
}

header ul {
    list-style-type: none;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#inputmenu {
    float: right;
    padding-top: 21px;
}

 #inputmenu ul li {
     display: inline-block;
}

 #inputmenu ul li  a {
     color: white;
     text-decoration: none;
     padding: 5px 20px;;
 }

 #inputmenu ul li  a:last-child{
     color: white;
     text-decoration: none;
     padding: 10px 20px;;
     margin-left: 20px;
 }

 #linkgrigio {
     font-size: 12px;
 }

 #linklogin  {
     font-size: 12px;
     border: 1px solid grey;
     border-radius: 5px;
     padding-top: 100px;
 }

 #linkverdeheader {
     background-color: #7fb802;
     border: 1px solid #7fb802;
     border-radius: 5px;
     font-size: 12px;
 }

/*menu in basso*/

.menubasso {
    background-image: url(immagini/businessmen.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

#menubasso {
    margin-left: 70px;
    margin-right: 800px;
    font-size: 35px;
    color: white;
    padding-top: 30px;
}

#linkverdemolti a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #7fb802;
    border: 15px solid #7fb802;
    border-radius: 5px;
}

#linkverdemolti {
    padding-left: 70px;
margin-top: 50px;
    padding-bottom: 100px;
}

/*INIZIO MAIN */
/*titolo generale di inizio*/

.titolocontenuto {
    background-color: #f9f9f9;
}

.titolocontenuto h1 {
    text-align: center;
    padding-top: 20px;
}

.titolocontenuto p {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

/*Prima riga di elemento*/

.primoelemento {
    height: 400px;
    background-color: white;
    margin-bottom: 50px;
}

/*elemento a sinistra*/

#primoelementoleft {
    width: 31%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#primoelementoleft img {
    height: 180px;
    display: block;
    padding: 20px 150px;
}

#primoelementoleft div:last-child p{
    padding: 15px 20px;
    color:gray;
    text-align: center;
}

#primoelementoleft div:last-child h4{
    font-size:23px;
    color: #7fb802;
    padding: 5px 20px;
    text-align: center;
}

#primoelementoleft div:last-child {
    height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#primoelementoleft div:last-child hr{
    color: gray;
    width: 60px;
    margin-top: 10px;
    margin-left: 43%;
    margin-bottom: 10px;
}

/*elemento centro*/

#primoelementocenter {
    width: 31%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#primoelementocenter img{
    height: 180px;
    display: block;
    padding: 20px 130px;
}

#primoelementocenter div:last-child h4 {
    font-size:23px;
    color: #7fb802;
    padding: 5px 20px;
    text-align: center;
}

#primoelementocenter div:last-child hr {
    color: gray;
    width: 60px;
    margin-top: 40px;
    margin-left: 43%;
    margin-bottom: 10px;
}

#primoelementocenter div:last-child  {
    height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#primoelementocenter div:last-child p {
    padding: 15px 20px;
    color: gray;
    text-align: center;
}

/*elemento destra*/

#primoelementoright {
    width: 31%;
    float: left;
    margin: auto;
}

#primoelementoright img {
    height: 180px;
    display: block;
    padding: 20px 130px;
}

#primoelementoright div:last-child h4 {
    font-size:23px;
    color: #7fb802;
    padding: 5px 20px;
    text-align: center;
}

#primoelementoright div:last-child hr {
    color: gray;
    width: 60px;
    margin-top: 10px;
    margin-left: 43%;
    margin-bottom: 10px;
}

#primoelementoright div:last-child {
    height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#primoelementoright div:last-child p{
    padding: 15px 20px;
    color: gray;
    text-align: center;
}

 .secondoelemento {
     height: 400px;
     background-color: white;
     position: relative;
     margin-bottom: 40px;
 }

#divisore {
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
}
/*Secondo riga di elemento*/
/*elemento sinistra*/

#secondoelementoleft {
    height: 400px;
   width: 50%;
   float:left;
}

#secondoelementoleft img {
    height: 100%;
    padding-top: 50px;
    padding-left: 200px;
    padding-bottom: 50px;
}

/*elemento destra*/

#secondoelementoright {
     height: 400px;
    width: 50%;
    float:right;
}

#secondoelementoright h4 {
    padding-top: 100px;
    font-size: 25px;
    color: black;
    padding-left: 30px;
}

#secondoelementoright p {
    padding-left: 30px;
    font-size: 17px;
    color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}

#secondoelementoright a{
    color: lightblue;
    padding-left: 30px;
}

/*Terza riga di elemento*/

.terzoelemento {
    background-color: #f9f9f9;
    background-size: cover;
}

.terzoelemento::after{
      content: "";
      display: table;
      clear: both;
}

#terzoelementoleft {
    float: left;
    width: 50%;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
}

#terzoelementoleft h4 {
    font-size: 30px;
    color: black;
}

#terzoelementoright{
    float: right;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#terzoelementoright h4 {
    display: inline-block;
    font-size: 25px;
    color: gray;
    padding-right: 20px;
}

#terzoelementoright p {
    display: inline-block;
    font-size: 20px;
    color: gray;
    border-bottom: 2px solid grey;
    padding-bottom: 3px;
    margin-right: 50px;
}

#terzoelementoright a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #7fb802;
    border: 15px solid #7fb802;
    border-radius: 5px;
}

/*Quarta riga di elemento*/

.quartoelemento {
    background-color: #0d325a;
}

.quartoelemento::after{
    content: "" ;
    display: table;
    clear: both;
}

#quartoelementoleft {
    width: 40%;
    float: left;
    height: 354px;
    margin-bottom:45px;
}

#quartoelementoleft div h4{
  padding-left: 150px;
  color: white;
  font-size: 23px;
  padding-top: 100px;
}

#quartoelementoleft  span {
    color: orange;
}

#quartoelementoleft  p:first-child {
    padding-left: 150px;
    padding-top: 15px;
    color: lightgrey;
    font-size: 16px;
    padding-right: 100px;
}

#quartoelementoleft  p:last-child {
    padding-left: 150px;
    padding-top: 20px;
    color: lightgrey;
    font-size: 16px;
    padding-bottom: 20px;
    padding-right: 100px;
}

#quartoelementoleft a{
    color: lightblue;
    padding-left: 150px;
}

#quartoelementorightimg {
     float: left;
    width: 60%;
}

#quartoelementorightimg img{
    padding-right: 500px;
    margin-right: 200px;
    height: 350px;
}

/*FINE MAIN*/
/*FOOTER*/
/*Footer sinistra*/

footer {
    background-color: #17406b
}

footer hr {
    color: white;
    width: 100%;
}

footer::after{
    content: "";
    display: table;
    clear: both;
}

footer .container::after {
    content: "";
    display: table;
    clear: both;
}

#footerleft {
    float: left;
     height: 300px;
    width: 50%;
}

#footerleft h5{
   color: white;
   padding-top: 30px;
   padding-left: 140px;
}

#footerleft div ul {
   list-style-type: none;
}

#footerleft div ul li{
   padding-left: 140px;
   padding-top: 12px;
}

#footerleft div ul li a{
 color: lightblue;
}

/*Footer destra*/

#footerright {
    float: right;
    width: 50%;
    height: 300px;
    text-align: right;
}

#footerright h5{
      font-size: 20px;
      padding-top: 40px;
      padding-right: 100px;
      color: lightblue;
}

#footerright h6{
     padding-right: 100px;
     padding-top: 20px;
     font-size: 18px;
     color: lightblue;
}

#footerright p:first-child{
     padding-right: 100px;
     padding-top: 50px;
     font-size: 18px;
     color: lightblue;
}

#footerright p:nth-child(2){
       padding-right: 100px;
       font-size: 18px;
       color: lightblue;

}

#footerright p:last-child{
 padding-right: 100px;
 color: lightblue;
}

#help {
    position: fixed;
    z-index: 9999999;
    bottom: 0%;
    right: 10%;
    padding-bottom: 5px;
}

#help a{
    color: white;
    background-color: #7fb802;
    border: 8px solid #7fb802;
    border-radius: 8px;
    text-decoration: none;
}

#help a:hover{
    color: white;
    font-size: 35px;
    text-decoration: none;
}
